body {
  font-family: sans-serif;
  font-size: 13px;
}

div,
button,
input {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type=number],
input[type=text],
button,
.button {
  padding: 8px 10px;
  border: 0;
  background: #f0f0f0;
}

input[type=number],
input[type=text] {

  &.short {
    width: 60px;
  }
}

button,
.button {
  font-weight: bold;
  margin-right: 15px;

  &:active {
    background: #e0e0e0;
  }

  &.primary {
    color: #fff;
    background: #29b666;

    &:active {
      background: #239d58;
    }
  }
}

textarea {
  width: 100%;
  height: 200px;
  line-height: 1.4em;
  font-family: monospace;
  border: 1px solid #e0e0e0;
}

.tools {
  margin-bottom: 20px;
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}

.tool-set {
  text-align: left;
  margin-right: 15px;
  display: inline-block;
  position: relative;
}

.grid {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: auto;
  overflow: hidden;
  width: 400px;
  padding-bottom: 1px;
  line-height: 0;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.row {
  font-size: 0;
  height: 15px;
}

.cell {
  cursor: pointer;
  position: relative;
  display: inline-block;
  border: 1px solid #e0e0e0;
  margin: 0 -1px -1px 0;
  background-size: cover;
  opacity: 0.4;

  &:hover {
    z-index: 1;
    border-color: #a0a0a0;
  }

  &.painted {
    opacity: 1;
    background-color: rgba(255, 255, 255, .3);

    &:hover .sip {
      display: block;
    }
  }
}

.sip {
  z-index: 5;
  border-radius: 10px;
  display: none;
  position: absolute;
  top: -7px;
  right: -7px;
  background: #000;
  width: 14px;
  height: 14px;
  border: 2px solid #fff;

  &:hover {
    background-color: #bb2921;
  }
}

.facebox {
  position: absolute;
  background: #fff;
  width: 600px;
  height: 300px;
  padding: 15px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  z-index: 10;

  label {
    display: inline-block;
    margin-bottom: 15px;
  }
}

.backdrop {
  background: rgba(0, 0, 0, .05);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
}

#hubot-script:checked ~ .hubot-script,
#emoji-script:checked ~ .emoji-script {
  display: block;
}

#hubot-script:checked ~ .h,
#emoji-script:checked ~ .e {
  color: #fff;
  background: #29b666;
}

.hubot-script,
.emoji-script {
  display: none;
}

.bucketfy {
  color: #08c;
  font-size: 11px;

  &:before {
    content: "- pen";
    color: #888;
    font-weight: normal;
  }

  &[data-bucket]:before {
    content: "- bucket";
  }
}

.preview {
  background: none !important;

  .cell {
    background-color: transparent !important;
    opacity: 1;
    border-color: transparent;
  }
}

[data-emoji]:before {
  content: attr(data-emoji);
  position: absolute;
  line-height: 1;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%)
}

.grid:before {
  font-size: 400px;
  line-height: 440px;
  display: block;
  height: 400px;
  width: 400px;
}

.grid {
  position: relative;
}

.preview:before {
  content: '';
}
