* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px; }

input[type=number],
input[type=text],
button,
.button {
  padding: 8px 10px;
  border: 0;
  background: #f0f0f0; }

input[type=number].short,
input[type=text].short {
  width: 60px; }

button,
.button {
  font-weight: bold;
  margin-right: 15px; }
  button:active,
  .button:active {
    background: #e0e0e0; }
  button.primary,
  .button.primary {
    color: #fff;
    background: #29b666; }
    button.primary:active,
    .button.primary:active {
      background: #239d58; }

textarea {
  width: 100%;
  height: 200px;
  font-family: monospace;
  white-space: nowrap;
  border: 1px solid #e0e0e0; }

.tools {
  margin-bottom: 20px;
  padding: 15px;
  border-bottom: 1px solid #e0e0e0; }

.tool-set {
  margin-right: 15px;
  display: inline-block;
  position: relative; }

.paint-preview {
  background-size: 15px 15px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  position: absolute;
  bottom: -10px;
  right: -10px;
  background-color: #fff;
  padding: 15px;
  line-height: 0; }

.grid {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: auto;
  overflow: hidden;
  width: 400px;
  padding-bottom: 1px;
  line-height: 0;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.row {
  font-size: 0;
  height: 15px; }

.cell {
  position: relative;
  display: inline-block;
  border: 1px solid #e0e0e0;
  margin: 0 -1px -1px 0;
  background-size: cover;
  opacity: 0.4; }
  .cell:hover {
    z-index: 1;
    border-color: #c0c0c0; }
  .cell.painted {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.3); }

.facebox {
  position: absolute;
  background: #fff;
  width: 600px;
  height: 300px;
  padding: 15px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  z-index: 10; }
  .facebox label {
    display: inline-block;
    margin-bottom: 15px; }

.backdrop {
  background: rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 9; }

.hidden {
  display: none; }

#hubot-script:checked ~ .hubot-script,
#emoji-script:checked ~ .emoji-script {
  display: block; }

#hubot-script:checked ~ .h,
#emoji-script:checked ~ .e {
  color: #fff;
  background: #29b666; }

.hubot-script,
.emoji-script {
  display: none; }
